[Desktop Entry]
Type=Application
Name=vmd
Comment=Minimal markdown viewer
Exec=vmd %f
MimeType=text/markdown;
NoDisplay=true
Terminal=false
Categories=Utility;
